*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
    
  }
:root{
    font-size: 62.5%;
}

/* Header */
header{
    /* border: 2px solid red; */
    background-color:#e1814657;
    margin: 30px;
    height: 10vh;
         box-shadow:7px 7px 7px rgba(141, 140, 140,0.6);
         border-radius: 11px;
          margin-bottom: 7px;
         display:flex;
         align-items: center;
         position:sticky;
         top:10px;
         z-index: 100;
}

/* logo and heading */
#logobox{
    text-decoration: none;
    color: black;
}
#logocontainer{
    display:flex;
    align-items: center;
    margin: 7px;
}
#logo{
width: 55px;
}
#mheading{
    font-size: 3rem;
    margin: 5px;
}

/* Navigation Bar and footer */
nav{
    position: absolute;
    right:0px;
    
}
    
    nav ul li, footer li{
        list-style: none;
    
    }
    nav ul a, footer a{ 
        text-decoration: none;
        padding: 7px;
        font-weight: bold;
        font-size: 1.5rem;
        color: black;
        
        margin: 5px;
    }
    nav ul a:hover, #active{
        background-color: #5525da;
        color: white;
        border-radius: 3px;
    }
    nav ul, footer ul{
        display: flex;
        margin: 10px;
align-items: center;
    }
#sec2{
    background-image: url('img/illustration.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
 justify-content: center;
}
#todaysoffers{
    background-color: rgb(132, 0, 255);
}
#offers{
    font-size: 2em;
    margin: auto;
    width: 500px;
    color: white;
    padding: 20px;
}
#info{
 float: left;
 margin: 4em;
 border: 2px solid rgb(89, 0, 255);
 padding: 3em;
 text-align: center;
 background-color: rgb(217, 224, 248);
 border-radius: 1em;
 font-family:'Ubuntu', sans-serif;
}
.vansh{
    margin: 1em;
  
}
input[type="email"],input[type="submit"], textarea, input[type="number"], select, input[type="text"]{
    width:100%;
    border: 3px solid rgb(47, 0, 255);
   padding: 0.3em;
   text-align: center;
   border-radius: 0.3em;
   font-family:'Ubuntu', sans-serif;
}
input[type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(216, 247, 216);
}
input.csize{
    width: 20px;
    height: 20px;
}
.size{
    font-size: 1.5rem;;
}
/* Footer */
#sec2{
    height: 700px;
}
footer{
    /* border: 2px solid red; */
    background-color: rgb(228, 228, 228);
    
}
footer ul {
    justify-content: center;
    
}
footer a{
    padding:0px;
}
Footer a:hover{
    color:#5525da;
}



/* Responsive Design */
@media only screen and (min-width:0px) and (max-width: 1460px) {
    #mainbox{
        background-color:rgba(228, 228, 228,0.5);
        padding: 30px;
        border-radius: 30px;
        border: 2px solid black;
    }
}
@media only screen and (min-width: 0px) and (max-width: 1070px) { 
#sec1{
   justify-content: center;
   background: url('img/illustration.png') no-repeat center center/cover;
}

}
@media only screen and (min-width: 576px) and (max-width: 1000px){
   .container{
    grid-template-columns: repeat(2,200px);
   } 
}
@media only screen and (min-width: 0px) and (max-width: 576px){
    .container{
        grid-template-columns: repeat(1,200px);
       } 
       #mheading{
           display: none;
       }
}
@media only screen and (min-width: 389px) and (max-width: 538px){
   #imglogo{
    width: 100px;
   }
   #text{
          font-size: 4rem;
          position: absolute;
          top:357px;
          
         
   }
}
@media only screen and (min-width: 0px) and (max-width: 437px){
    #imglogo{
           width: 70px;
    }
    #text{
      font-size: 3rem;
      position: relative;
      top: -25px;
    }
    .btn{
        font-size: 1rem;
    }
    header{
        margin:10px;
    }
    #found{
        line-height: 5em;
    }
}
@media only screen and (min-width: 0px) and (max-width: 307px){
    #text{
        font-size: 3rem;
        position: relative;
        top: 10px;
        
      }
      #btns{
          position: relative;
          top: 20px;
      }
     
}
@media only screen and (min-width: 0px) and (max-width: 900px){
    #sec1{
        background: url('img/illustration.png') no-repeat center top/contain;
    }
}
@media only screen and (min-width: 0px) and (max-width: 380px){
nav ul a{
    font-size: 1rem;
}
#logo{
    width: 30px;
}
    }
    @media only screen and (min-width: 0px) and (max-width: 800px){
  #sec1{
      height: 60vh;
  }
    }
    @media only screen and (min-width: 437px) and (max-width: 538px){
    #text{
        position: relative;
        top: -35px;
    }
    #found{
        line-height: 4em;
    }
    }
    @media only screen and (min-width: 0px) and (max-width: 500px){
      #info{
          margin: 10px;
      }
      #sec2{
          background:none;
          
      }
    }